* {
    font-family: Lato;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex .container {
    height: 95vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding : 50px;
    display: flex;
    flex-direction: column;
    gap : 25px;
}

.container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer .result {
    font-size: 24px;
    font-weight: 500;
}

.container-button button {
    outline: none;
    border: none;
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.container-button #reset {
    background-color: rgb(220, 61, 61);
}
.container-button #guess {
    background-color: rgb(61, 72, 220);
}





#canvas {
    background-color: rgb(42, 41, 41);
    border-radius: 30px;
}

